<!-- Header de la page avec un titre et une barre de navigation -->
<header>
  <h1>{{ title }}</h1>
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active" aria-label="Home">Home</a></li>
      <!-- <li><a routerLink="/tickets" routerLinkActive="active" aria-label="Tickets">Tickets</a></li> -->
    </ul>
  </nav>
</header>

<!-- Contenu dynamique chargé via Angular Router -->
<main>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>

<!-- Footer -->
<footer>
  <p>&copy; 2024 Ticket Management System</p>
</footer>
